.tech_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  backdrop-filter: brightness(25%);
}

.title_section {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  cursor: default;
}

.content_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  margin-top: 25px;
  gap: 45px;
  color: white;
}

.tecs {
  width: 90px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  cursor: default;
  transition: all 0.5s ease-out;
}

.tecs i {
  font-size: 26px;
  margin-bottom: 10px;
}

.tecs p {
  font-size: 14px;
}

.tecs:hover {
  box-shadow: 0 0 5px #00ffff;
  border: 2px solid #00ffff;
  color: #00ffff;
}

@media only screen and (max-width: 1200px) {
  .content_section {
    grid-template-columns: repeat(5, auto);
    gap: 35px;
  }
}

@media only screen and (max-width: 992px) {
  .content_section {
    grid-template-columns: repeat(4, auto);
    gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .tech_container {
    padding-top: 5.5rem;
  }

  .title_section {
    height: 2rem;
    font-size: 25px;
  }

  .content_section {
    grid-template-columns: repeat(4, auto);
    margin-top: 35px;
    gap: 25px 20px;
  }

  .tecs {
    width: 65px;
    height: 65px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 5px rgba(227, 228, 237, 0.37);
  }

  .tecs i {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .tecs p {
    font-size: 10px;
  }

  .tecs:hover {
    box-shadow: 0 0 5px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    color: #fff;
  }
}

@media only screen and (max-width: 480px) {
  .title_section {
    height: 1.5rem;
    font-size: 20px;
  }

  .content_section {
    grid-template-columns: repeat(4, auto);
    margin-top: 30px;
    gap: 30px 22px;
  }

  .tecs {
    width: 60px;
    height: 60px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 3px rgba(227, 228, 237, 0.37);
  }

  .tecs i {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .tecs p {
    font-size: 8px;
  }
}
